pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copydataone",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AddressID",
									"type": "String"
								},
								"sink": {
									"name": "AddressID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AddressLine1",
									"type": "String"
								},
								"sink": {
									"name": "AddressLine1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "AddressLine2",
									"type": "String"
								},
								"sink": {
									"name": "AddressLine2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String"
								},
								"sink": {
									"name": "City",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "StateProvince",
									"type": "String"
								},
								"sink": {
									"name": "StateProvince",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CountryRegion",
									"type": "String"
								},
								"sink": {
									"name": "CountryRegion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PostalCode",
									"type": "String"
								},
								"sink": {
									"name": "PostalCode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "String"
								},
								"sink": {
									"name": "rowguid",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "String"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedTextone",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetMetadataone",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedTextone",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"itemName",
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetMetadataone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('GetMetadataone').output.exists",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "pipelinefolderone"
		},
		"annotations": []
	}
}